html, body{
  height: 100%;
}
#weather-main{
  padding: 1em;
  background: no-repeat center url('../img/tadej-skofic-571573-unsplash.jpg');
  background-size: cover;   
  height: 100%;
  /*background-color: grey;*/
}

#hero-box{
  opacity: 0.7;
  background-color:white;
}

