<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lazer Porter | Dev</title>
    <meta property="og:image" content="/img/og-image.png">
    <!-- Styleshee: Bootstrap min-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Lazer Porter | Full Stack Dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wikipedia_viewer">Wikipedia Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sql-contact">SQL Contact List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">

        <div class="row py-4">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Lazer Porter</h1>
                    <p class="lead">Cleveland-area self-taught web developer focused on the JavaScript stack</p>
                    <hr class="my-4">

                    <p class="">This site was built with:</p>
                    <div class="row">
                        <div class="col">
                            <img src="/img/heroku-logo.png" class="rounded float-left logo" alt="img-Hosted by Netlify!"
                                hspace="20">
                            <img src="/img/github-logo2.png" class="rounded float-left logo" alt="Github Cat Ico">
                            <img src="/img/github-logo.png" class="rounded float-left logo" alt="Github Wordmark"
                                hspace="5">
                            <img src="/img/node-logo.png" class="rounded float-left logo" alt="NodeJS logo" hspace="10">
                            <img src="/img/express.png" class="rounded float-left logo" alt="ExpressJS logo">
                            <img src="/img/ejs2.JPG" class="rounded float-left logo" alt="EJS logo">
                            <img src="/img/bootstrap-logo.png" class="rounded float-left logo" alt="Bootstrap Logo"
                                hspace="20">
                            <img src="/img/mysql-logo.png" class="rounded float-left logo" alt="Powered by MySql"
                                hspace="20">
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col">
                            <h4>Work History</h1>
                                <h5 class="lead">Southfield Advisory: Feb '17 - Current | Business Strategy</h5>
                                <p class="lead">
                                    <ul>
                                        <li>Designed reporting capabilities for loan brokerage facilitating $1B+ / year</li>
                                        <li>Centralized DSV processing and semi-automation, wrote scrapers and scripts
                                            to get order data into upload-friendly spreadsheet</li>
                                        <li>Assessed integrated techonology needs for fuel delivery fleet, created
                                            reports on routing and customer histories, KPIs</li>
                                        <li>Moved product through manufacturing to on-shelf in Bed Bath & Beyond,
                                            Boscov's + Target.com, Walmart.com, Fanatics, Dunham's</li>
                                        <li>Experience with EDI processes in wholesale/retail</li>
                                    </ul>
                                </p>
                                <h5 class="lead">Innovative Jewelry: Sept '14 - Feb '17 | Lead Operations & Logistics</h5>
                                <p class="lead">
                                    <ul>
                                        <li>
                                            Created a sophisticated item-store ranking analysis for over 550 Sam's
                                            Clubs and increased 3 key sales seasons by $1MM each with intelligent
                                            stocking strategies.
                                        </li>
                                        <li>
                                            Produced a team-store ranking for licensed NCAA items and stores, this
                                            store ranking was adopted by Sam's Club buying team and distributed to
                                            fine-jewelry vendors.
                                        </li>
                                        <li>
                                            Streamlined assembly processes and sent all production out of house to 3rd
                                            party fulfilment center, reduced ongoing overhead by a factor of 8
                                        </li>
                                        <li>
                                            Learned the roles of 5 employees and redistributed responsibilities to
                                            eliminate overlap and ambiguity in processes, further reducing overhead
                                        </li>
                                    </ul>
                                </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="display-4 text-center">Check out some of my projects!</h1>
                <br><br>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Artist's Spec</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class=".img-responsive" src="/img/client-spec.jpg" style="max-width:100%;">
                    </div>
                    <div class="modal-footer">
                        <a href="/pdftobootstrap" class="btn btn-primary">View Live Mockup</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/img/weather-preview.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text">Displays current weather based on geolocation from the browser and Free
                            Code Camp's weather JSON API. Requires location permission.</p>
                        <a href="/weather" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/wikipedia-preview.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wikipedia Search</h5>
                        <p class="card-text">Queries Wikipedia's API to display search results, or direct the user to a
                            random article.</p>
                        <a href="./wikipedia_viewer" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/sql-contact.JPG" class="card-img-top" alt="..." style="height:220px; width:auto;">
                    <div class="card-body">
                        <h5 class="card-title">MySQL Contact List</h5>
                        <p class="card-text">This page loads a contact list from a live MySQL database. You can add
                            contacts and they will be added to the database in realtime!</p>
                        <a href="/sql-contact" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../img/PDF2Bootstrap.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bootstrap Mockup from Artist's PDF</h5>
                        <p class="card-text">Working from an artists spec, I produced a working mockup incorporating
                            every detail and layout.</p>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                            Artist's Spec</button>
                        <a href="/pdftobootstrap" class="btn btn-primary">View Page</a>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>