<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wikipedia Search</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel="stylesheet" href="./public/css/style.css">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Lazer Porter | Full Stack Dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/wikipedia_viewer">Wikipedia Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sql-contact">SQL Contact List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container-fluid" id="wikiBody">
        <div class="jumbotron hero-box">
            <h1>Search Wikipedia</h1>
            <input class="form-control" id="searchTerm">
            <button id="searchButton" type="button" class="btn btn-primary"><span class="fa fa-search"></span>
                Search</button>
            <a href="https://en.wikipedia.org/wiki/Special:Random" target="blank" class="btn btn-dark" role="button"><span
                    class="fas fa-random"></span> Random Article</a>
            <div id="results">
                <!--Containter for styling the results -->
                <ul id="resultsList">
                    <!--Containter for the parsed results to appear as <li> items -->
                </ul>
            </div>

        </div>
    </div>

    <!-- Make cards instead of li -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.0.0/js/fontawesome-iconpicker.js'></script>
    <script src="/public/js/wikipedia_viewer.js"></script>
</body>

</html>
